/*///////////////////////// header /////////////////////////*/

.subProducts h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.subProducts .inner {
    gap: 30px;
}

.subProducts .inner .itm {
    flex: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

.subProducts .itm>a>* {
    display: block;
    margin-bottom: 20px;
}

.subProducts .itm figure {
    margin-bottom: 30px;
}

.subProducts img {
    width: 100%;
}

.subProducts .itm span {
    font-size: 12px;
    font-weight: 300;
    color: #555;
}

.subProducts .itm strong {
    font-size: 20px;
    font-weight: 500;
}

.subProducts .itm p {
    /* font-size: 12px; */
    font-weight: 300;
}

.subProducts .itm em {
    font-size: 14px;
    font-weight: 300;
}

@media(max-width: 768px) {
    .subProducts h2 {
        font-size: 40px;
    }

    .subProducts .inner {
        gap: 50px;
    }

    .subProducts .inner .itm {
        flex: none;
    }

    .subProducts .itm figure {
        height: 350px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .subProducts img {
        height: 350px;
        object-fit: cover;
    }
}

/* ////////////////////////////////////// */
.itmVisual .itm_visual {
    gap: 50px;
}

.itmVisual .itm_visual>div {
    flex: 1;
}

.itmVisual .itm_visual .itm_slide {
    position: relative;
    overflow: hidden;
}

.itmVisual .itm_slide .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.itmVisual .itm_slide .slick-dots>li {
    display: inline-block;
}

.itmVisual .itm_slide .slick-dots>li~li {
    margin-left: 10px;
}

.itmVisual .itm_slide .slick-dots>li button {
    border: none;
    font-size: 0;
    width: 14px;
    height: 14px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ededed;
    border-radius: 50%;
}

.itmVisual .itm_slide .slick-dots>li.slick-active button {
    background: #333;
}

.itmVisual .itm_visual .itm_des>* {
    display: block;
    margin-bottom: 40px;
}

.itmVisual .itm_visual .itm_des span {
    font-size: 14px;
    color: #555;
}

.itmVisual .itm_visual .itm_des h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}

.itmVisual .itm_visual .itm_des strong {
    font-size: 24px;
}

.itmVisual .itm_visual .itm_des p {
    font-weight: 500;
}

.itmVisual .itm_visual .itm_des a {
    display: inline-block;
    padding: 15px 45px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #555;
}

@media(max-width: 768px) {
    .itmVisual .itm_visual {
        gap: 50px;
    }

    .itmVisual .itm_visual>div {
        flex: none;
    }

    .itmVisual .itm_slide figure img {
        width: 100%;
    }

    .itmVisual .itm_visual .itm_des>* {
        margin-bottom: 30px;
    }

    .itmVisual .itm_visual .itm_des span {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .itmVisual .itm_visual .itm_des h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .itmVisual .itm_visual .itm_des strong {
        font-size: 18px;
    }

    .itmVisual .itm_visual .itm_des p {
        font-size: 14px;
    }
}

/*  */
.itmDitail {
    text-align: center;
}

@media(max-width: 768px) {
    .itmDitail .inner {
        padding: 0;
    }

    .itmDitail img {
        width: 100%;
        text-align: center;
    }
}